@import 'palette.scss';
@import "circles.scss";
@import "photos.scss";
@import "theme.scss";
@import "nav.scss";
@import "media.scss";
@import "toolTip.scss";
@import url('https://fonts.googleapis.com/css?family=Alegreya|Amaranth:700&display=swap');
$fHeader: 'Amaranth', sans-serif;
$fText: 'Alegreya', serif;

/* ---- Base Rules ---- */
html {
  scroll-behavior: smooth;
}

body {
    // background: $color1;
    background: linear-gradient(45deg, $color1 0%, $color2 100%);
    margin: 0;
    font-family: $fText;
    color: $color1;

}

/* Typeography General*/

h2, h3, h4, h5 {
    color: $color3;
}

.h2 {
  width: auto;
}

.h2, .h3, .h4, .h5 {
    color: $color3;
    background: none;
    border-width: 0;
}

h1 {
    color: $color1;
    font-family: $fHeader;
    font-size: 2rem;
    margin: 10px;
}

h2, .h2 {
    font-family: $fHeader;
    // border-bottom: 1px solid $color4;
    font-size: 2rem;
    // padding-right 10px;
    // width: 90%;
    }

h3 {
    font-family: $fHeader;
    display: block;
    font-size: 1.5rem;
    margin: 0;
    // padding:  0 1rem 0 1rem;
    color: $color4;
    margin-block-start: 0;
    margin-block-end:0;
    vertical-align: bottom;
}

h4 {
  font-family: $fHeader;
  font-size: 1.2rem;
  color: $color4;
  font-style: italic;
  font-family: fText;
  margin: 0;
}

h5 {
  padding-top: 0.2rem;
  font-family: $fText;
  color: $color4;
  font-size: 0.9rem;
  font-family: fText;
  margin: 0;
}

p {
    font-size: 0.8rem;
    line-height: 1rem;
    color: #eee;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

ul {
  padding-inline-start: 0;
}

li {
  // line-height: 0.5rem;
  font-size: 0.8rem;
  color: $color3;
  padding-bottom: 0.5rem;
  list-style-type: none;
  // max-width: 500px;
}

.tightLines {
  padding-bottom: 0.4rem;
}

.contact p {
    line-height: 0.5rem;
}

a {
  color: $color4;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
    color: $color5;
}
a:visited {
  font-weight: normal;
}

img {
  transition: 0.2s ease-in-out;
}

.link_hover {
  img:hover {
    opacity: 0.7;
    transform: rotate(2deg);
  }
}

.btnEdit {
  display: none;
}

.btnOK {
  display: none;
}

.btnEdit:hover {
  opacity: 0.7;
}

button {
  // display: none;
  background: none;
  border-width: 0;
}

.btn {
  height: auto;
  max-width: 20px;
  hspace: 1rem;
  // vertical-align: middle;
}

#password {
  background-color: white;
  color: white;
  display: inline;
  border: 1px solid grey;
  padding: 5px;
  margin: 5px;
  // text-align: left;
}
#password:hover {
    background-color: #e3e3e3;
}

#saveFooter {
  display: none;
  text-align: left;
  background-color: #f18282;
  font-weight: bold;
  color: black;
  opacity: 0.95;
  position: fixed;
  height: 40px;
  bottom: 0;
  z-index: 5;
  width: 100%;
  padding-top: 5px;
  padding-left: 30px;
}

#saveFooter button {

  background-color: white;
  border-radius: 2px;
  box-shadow: 3px 3px 3px #66666678;
  padding: 5px;
  margin: 0px 10px 0px 10px;
}
#saveFooter button:hover {
  background-color: #e3e3e3;
}


/* ---- Layout Rules ---- */
main {
    margin-top: 3rem;
}

.main-hero {
    padding-top: 3rem;
}

section {
    position: relative;
}


/* ---- Module Rules ---- */



/* Header Styles */
.page__header {
    background: $color3;
    position: fixed;
    top: 0;
    // margin-right: 50px;
    width: 100%;
    z-index: 5;
    color: black;
}

/* Footer Styles */
.page_footer {
    background: $color1;
    padding: 0.1rem;
    color: #fff;
    text-align: right;;
}

.page_footer p{
    color: #fff;
}
