@import 'palette.scss';
/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 3rem 1rem 0 1rem;
    text-align: right;
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: left;
}

// section:nth-of-type(odd) .gallery_container {
//     margin-right: 0;
//     margin-left: auto;
//     text-align: right;
// }

.project_container:last-of-type{
  border-bottom: 0px;
}

.project_container {
  display: grid;
  padding: 1rem;
  border-bottom: 2px ridge $color2;
  text-align: left;
  vertical-align: bottom;

  // font
  .project_photo {
    display: grid;
    grid-area: photo;
    // padding-top: 1vh;
  }
  .project_detail {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    grid-area: detail;
  }

  p {
    font-size: 0.7rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    // padding-left: 1rem;
  }

  .no_background {
      background-color: transparent;
      width: 70%;
      padding-left: 30%;
  }

  // img {
  //   width: 30vw;
  //   padding: 5px;
  //   margin-left: -20px;
  //   margin-right: 30px;
  //   background-color: white;
  // }
}

.project_container {
  .link_hover img:hover {
    transform: rotate(-2deg);
  }
}.project_container:nth-of-type(even) {
  h3, h4, h5{
    text-align: right;
  }
  li {
    text-align: right;
  }
  .link_hover img:hover {
    transform: rotate(2deg);
  }
}



@media only screen and (max-width: 450px){
  .project_photo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    img {
      width: 70vw;
      padding: 5px;
      background-color: white;
    }
  }

  .project_container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "photo"
      "detail";

  }

}

@media only screen and (min-width: 451px) {
  .project_container img {
      width: 30vw;
      padding: 5px;
      margin-left: -20px;
      margin-right: 30px;
      background-color: white;
  }

  .project_container:nth-of-type(odd) {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "photo detail";
  }

  .project_container:nth-of-type(even) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "detail photo";
    img {
      margin-left: 30px;
      margin-right: -20px;
      :hover {
        transform: rotate(2deg);
      }
    }
  }
}
