@import 'palette.scss';
/* ---- Theme Rules ---- */
/* Landing Container Styles */

.section {
  border-bottom: 1px solid $color4;
}

.landing__container {
    padding: 3rem 1rem 0 1rem;
    // text-align: right;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.project_container:last-of-type{
  border-bottom: 0px;
}

.project_container {
  display: grid;
  padding: 1rem 0 1rem 0;
  border-bottom: 2px ridge $color2;
  text-align: left;
  vertical-align: bottom;
  .btn {
    text-align: right;
  }
  .link_hover img:hover {
    transform: rotate(-2deg);
  }
  .project_photo {
    display: grid;
    grid-area: photo;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 1rem;
    padding-left: 0;
  }
  .project_detail {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    grid-area: detail;
  }
  p {
    font-size: 0.7rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  .no_background {
      background-color: transparent;
      width: 70%;
      padding-left: 30%;
  }
}

.project_container:nth-of-type(even) {
  // float:right;
  .btn {
    text-align: right;
  }
  h3, h4, h5{
    text-align: right;
  }
  li {
    text-align: right;
  }
  .link_hover img:hover {
    transform: rotate(2deg);
  }
  .project_photo {
    padding-left: 1rem;
    padding-right: 0;
  }
  .block {
    float: right;
  }
  .project_detail {
    input {
    direction: rtl;
    text-align: right !important;
    }
  }
    // left: auto;

    // align-content: flex-end;
    // text-align: right;
}

@media only screen and (max-width: 560px){
  .project_photo {
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    img {
      width: 50vw;
      // padding: 5px;
      // background-color: white;
    }
  }

  .project_container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "photo"
      "detail";

  }
  .project_container:nth-of-type(odd) img {
    margin-left: 0;
    margin-right: auto;
  }
  .project_container:nth-of-type(even) img {
    float: right;
    // position: absolute;
    // margin-left: auto;
    // margin-right: 0;
  }
}

@media only screen and (min-width: 561px) {
  .project_container img {
      width: 30vw;
      // padding: 5px;
  }

  .project_container:nth-of-type(odd) {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "photo detail";
  }

  .project_container:nth-of-type(even) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "detail photo";
    img {
      :hover {
        transform: rotate(2deg);
      }
    }
  }
}

.gallery_container {
  margin-left: auto;
  margin-right: auto;
}
